@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	/* box-sizing: border-box; */
}

body{
    /* background: url(bg.jpg) no-repeat center center fixed; */
   /* background: url(temperature_bg.png) no-repeat center center fixed; */
   background: rgb(172, 217, 241);

   
}
.navbar{
	height: 100vh;
	width: 100%;

}

.temp_calculator {
    width: 480px;
    margin: 98px auto;
    background-color: #fecd47;
    border: 4px solid black;
    opacity: 1.1;
  
}
form {
    padding: 15px;
}
h2{
    border-bottom: 4px solid black;
}
h2.title {
    background: #e1eb5c;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
}
.calculator_input {
    float: left;
}
label {
    font-size: 20px;
}
input {
    width: 100%;
    font-size: 20px;
    border: none;
    background: #fff;
    padding: 8px;
}
.result_area label {
    width: 18%;
    float: left;
}
.result_area input {
    width: 80%;
      border-radius: 12px;
    border: 3px solid black;
}

.calculator_value label {
    width: 36%;
    float: left;
    
}
.calculator_value input {
    width: 64%;
    border: 3px solid black;
      border-radius: 12px;
}
.calculator_value {
    margin-bottom: 30px;
   
}

.calculator_input {
    padding: 0px 23px;
    margin-bottom: 30px;
    
    
}

.box {
 
    border: 3px solid black;
    border-radius: 9px;
    
}

.result_area {
    margin-top: 30px;
    margin-bottom: 10px;
    
}

button#convert {
    float: right;
}
button.cal-btn {
    width: 45%;
    padding: 12px;
    border: none;
    background:#003fab;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 11px;
}
button.cal-btn:hover{
    background-color: rgb(52, 135, 243);
    text-decoration: underline black;
    
}
select {
    padding: 5px;
}